<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Serial Port settings-->
    <add key="PortName" value="com1"/>
    <add key="BaudRate" value="9600"/>
    <add key="DataBits" value="8"/>
    <add key="DtrEnable" value="True"/>
    <!-- Command settings-->
    <add key="ready" value="00"/>
    <add key="enabled" value="3E"/>
    <add key="inhibit" value="5E"/>
    <add key="motorproblem" value="01"/>
    <add key="insufficient" value="02"/>
    <add key="dedectsCoin" value="03"/>
    <add key="reserved" value="04"/>
    <add key="prismSersorFailure" value="05"/>
    <add key="shaftSersorFailure" value="06"/>
  </appSettings>
</configuration>